@{
    ViewData["Title"] = "Contact information";
}
@*<h2>@ViewData["Title"]</h2>*@
<h3>@ViewData["Message"]</h3>

<address>
    476 Greenhill Dr<br />
    Groveport, OH 43125<br />
    <abbr title="Cell Phone">Cell:</abbr>
    917.732.6412
</address>

<address>
    <strong>personal email:</strong> <a href="mailto:juanc.gonzalez8@gmail.com">juanc.gonzalez8@gmail.com</a><br />
    <strong>work email:</strong> <a href="mailto:jtorres@svam.com">jtorres@svam.com</a>
</address>
