@{
    ViewData["Title"] = "Juan C. Gonzalez";
}

<div class="row">
    <div class="col-md-3">
        <h2>About me</h2>
        <ul>
            <li>Hello. I am .Net Developer. I have worked for many industries and I am stubborn enough to stick with Microsoft technologies.
                I feel that Microsoft technology stack allows me to do any kind of computer business needed in today's economy</li>
            <li>This doesn't mean that I also look and use other cool technologies. I guess I am a technologist. Always looking how to do things more efficiently.</li>
            <li>I also like front end development. Meaning that I have been doing things with current trend javascript frameworks like Angular.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>My projects catalog</h2>
        <ul>
            <li>Most of my work has been inside corporations and not visible to the outside world, but I am planning to add here links to some personal projects that I am working on</li>
            <li><a href="">Workouts app</a></li>
            <li><a href="">Interviews app</a></li>           
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Technologies I know</h2>
        <ul>
            <li>.NET, .NET Core</li>
            <li>ASP.NET MVC, Web Forms</li>
            <li>Web API, WCF</li>
            <li>WPF, WinForms</li>
            <li>Entity Framework, SQL Server</li>
            <li>Microservices, Docker containers</li>
            <li>Angular</li>
            <li>Design Patterns, Unit Testing</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Resume</h2>
        <ul>
            <li><a href="">Juan C. Gonzalez.docx</a></li>            
        </ul>
    </div>
</div>
