<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/732f47ce-aee7-4a96-a43b-ff4cc0101010/resourcegroups/HomePage/providers/Microsoft.ContainerRegistry/registries/juancgonzalez</ResourceId>
    <ResourceName>juancgonzalez</ResourceName>
    <ResourceGroup>HomePage</ResourceGroup>
    <Subscription>Pay-As-You-Go</Subscription>
    <RegistryUrl>https://juancgonzalez.azurecr.io/</RegistryUrl>
    <UserName>juancgonzalez</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ef5b4d3a-70fd-4a15-a5ba-d2cc1523cb61</ProjectGuid>
  </PropertyGroup>
</Project>